*{
    margin: 0 0 0 0;
    background-color: aqua;
    width: 100%;
    height: auto;
}

.carosel{
    display: flex;
    justify-content: center;
}

img{
    width:20%;
    height: 18rem;
    padding: 5px 5px 5px 5px;
}

.carosel{
    align-items: center;
}

button{
    height: 50%;
    width: auto;
}

button:hover{
    opacity: 40%;
    background: grey;
}