*{
    margin: 2% 0 0 0;
}

.carosel{
    display: flex;
    justify-content: center;
}

img{
    width: 15%;
}

.carosel{
    align-items: center;
}

button{
    height: 50%;
    width: auto;
}

button:hover{
    opacity: 40%;
    background: grey;
}