<nav class="navbar">
    <div class="navleft">
        <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1640592402425/MrM7YggXP.png" class="icon">
        <h4>Peliculas</h4>
        <h4>Series</h4>
        <h4>Géneros</h4>
    </div>

    <div class="navright">
        <input type="text" class="form-control" placeholder="Buscar...">
        <button type="button" class="btn btn-light">
            <i class="bi bi-translate"></i>
        </button>
        <button type="button" class="btn btn-secondary">
            <i class="bi bi-person-fill"></i>
        </button>
    </div>
</nav>